/*Makes full body of the page have a background of purple, using RGB code. Body wraps the entirety of the base, excluding the head peices, so this creates a full background.*/
body {
  background-color:  rgb(97, 11, 196);
}

/*modifying the header style - Lowering space above and below the elements here are purely for spacing purposes, but I may go back to try and get fancier.*/
header {
  margin-top: 0px;
  margin-bottom: 10px; 
}

main {
  margin-top: 10px;
  margin-bottom: 10px; 
}

footer {  
  margin-top: 10px;
  margin-bottom: 0px;   
}

/*Declaring various styling elements to call for text throughout the code. I did not change the size for most, as I think the sizing as is tends to be sufficient. the size is not changes for h1-h4 nor for the base p. The elements here are color and the font family, with some alternatives for each. I like the font type for my page design.*/
h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/* simple text for the general paragraph, turned white to stand out on the box background. This one is different from the rest, as I wanted the general text to be set off. I additionally shrunk the size down a bit*/
p {
  font-size: 10
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/* Creating the style of the horizontal seperation to create a defined black line to set things off. I was experimenting with trying to get this to align to the center within the contect of the wrapping. It took some time, but it is centered perfectly by way of percentages for margins. Now, it will be 10% away from the edges within the wrapped amount called later - 800*/
hr {
  height: 2px;
  width: 80%;
  margin-left: 10% !important;
  margin-right: 10% !important;
  background-color: black;
  border: 2px solid black;
}

/*these two functions are the core of creating the black background boxes. .box initialized the black background while .round rounds off the edges.*/
.box {
  background-color: black;
  color: white;
  padding: 15px;
  margin: 10px;
}

.round {
  border-radius: 25px;
}

/*class to use to center text when needed*/
.text-centered {
  text-align: center;
}
/*limit image widge because I dont like my face much and the I'd like to limit the size and center images*/
img {
  text-align: center;
  width: 350px;
}

/* Default Links, prior to visiting*/
a:link {
  font-family: arial;
  text-decoration: underline;
  color: cyan; /* Looks better than the usual blue on the black background */
}

/* Visited Link changed color to blue*/
a:visited {
    font-family: arial;
    text-decoration: underline;
    color: blue;
}

/*Wrapping things around to 700, which is half the img width Looks good here.*/
.wrapper {
  width: 800px;
}
